@font-face {
  font-family: 'swiss911';
  src:  url('assets/fonts/tt0106m0.ttf') format('truetype');
}

@font-face {
  font-family: 'helveticaUC';
  src:  url('assets/fonts/Helvetica_Ultra_Compressed.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: 'helveticaUC';
  /*font-family: 'swiss911';*/
  font-size: 30px;
  color: white;
}

.main-screen {
  height: 100%;
  width: 100%;
  /*margin: 5px;*/
  /*position: fixed;*/
  overflow: hidden;
}

.top-left-outer {
  position: absolute;;
  border-radius: 50px 0px 0px 0px;
  width: 100%;
  height: 100%;
}

.top-left-inner{
  position: absolute;
  background-color: black;
  /*border-style: solid;*/
  /*border-color: green;*/
  border-radius: 25px 0 0 0;

  width: -webkit-calc(100% - 150px);
  width: -moz-calc(100% - 150px);
  width: -calc(100% - 150px);
  height: -webkit-calc(100% - 20px);
  height: -moz-calc(100% - 20px);
  height: -calc(100% - 20px);

  margin-left: 150px;
  top: 20px;
}

.bottom-left-outer {
  position: absolute;
  border-radius: 0px 0px 0px 50px;
  width: 100%;
  height: 100%;
}

.bottom-left-inner{
  position: absolute;
  background-color: black;
  /*border-style: solid;*/
  /*border-color: green;*/
  border-radius: 0px 0px 0px 25px;

  width: -webkit-calc(100% - 150px);
  width: -moz-calc(100% - 150px);
  width: -calc(100% - 150px);
  height: -webkit-calc(100% - 20px);
  height: -moz-calc(100% - 20px);
  height: -calc(100% - 20px);

  margin-left: 150px;
  bottom: 20px;
}

.top-left-outer .left-button {
  position: relative;
  border-color: black;
  border-style: solid;
  border-width: 4px 0px 0px 0px;
  /*margin-left: 0px;*/
  height: 80px;
  width: 150px;
  top: 80px;
}

.bottom-left-outer .left-button {
  position: relative;
  border-color: black;
  border-style: solid;
  border-width: 4px 0px 0px 0px;
  margin-left: 0px;
  height: 80px;
  width: 150px;
  /*bottom: 0;*/
}

.content {
  position: relative;
  color: white;
}

.left-button .content {
  position: absolute;
  text-transform: uppercase;
  bottom: 0;
  right: 5px;
  color: black;
}

.left-button .content a {
  text-decoration: none;
  color: black;
}

.left-button .content a:hover {
  color: white;
}

.top-button {
  position: relative;
}

.button-slim {
  height: 50px !important;
}


.bottom-left-inner-screen {
  position: absolute;
  height: -webkit-calc(100% - 25px);
  height: -moz-calc(100% - 25px);
  height: -calc(100% - 25px);
  width: -webkit-calc(100% - 25px);
  width: -moz-calc(100% - 25px);
  width: -calc(100% - 25px);
  left: 25px;
  bottom: 25px;
  overflow: hidden;
}

.top-left-inner-screen {
  position: absolute;
  height: -webkit-calc(100% - 25px);
  height: -moz-calc(100% - 25px);
  height: -calc(100% - 25px);
  width: -webkit-calc(100% - 25px);
  width: -moz-calc(100% - 25px);
  width: -calc(100% - 25px);
  left: 25px;
  top: 25px;
  overflow: hidden;
}

/*.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}*/

.album-cover-art {
  position: relative;
  left: 20%;
  margin-top: 2rem;
  z-index: 1;
}

.album-cover-art img{
  position: relative;
  width: 60%;
  z-index: 2;
}

.boring-description {
  text-align: justify;
  margin: 1rem;
}

.boring-description p{
  font-family: "Helvetica";
  font-size: 20px;
}

.h-partition {
  position: relative;
  float: left;
  /*margin: 2px;*/
  overflow: hidden;
  height: 100%;
}
.h-partition.ten {width: 10%;}
.h-partition.twenty {width: 20%;}
.h-partition.thirty {width: 30%;}
.h-partition.forty {width: 40%;}
.h-partition.fifty {width: 50%;}
.h-partition.sixty {width: 60%;}
.h-partition.seventy {width: 70%;}
.h-partition.eighty {width: 80%;}
.h-partition.ninety {width: 90%;}

.v-partition {
  position: relative;
  margin-bottom: 2px;
  overflow: hidden;
}
.v-partition.ten {height: 10%;}
.v-partition.twenty {height: 20%;}
.v-partition.thirty {height: 30%;}
.v-partition.forty {height: 40%;}
.v-partition.fifty {height: 50%;}
.v-partition.sixty {height: 60%;}
.v-partition.seventy {height: 70%;}
.v-partition.eighty {height: 80%;}
.v-partition.ninety {height: 90%;}

/*
  DEBUG class ===============================
*/
.DEBUG{
  /*background-color: gray;*/
  -webkit-box-shadow:inset 0px 0px 0px 10px #f00;
  -moz-box-shadow:inset 0px 0px 0px 10px #f00;
  box-shadow:inset 0px 0px 0px 10px #f00;
}

/*
  colors ===============================
*/
.color-A {background-color: #FF9900;}
.color-B {background-color: #CC99CC;}
.color-C {background-color: #9999CC;}
.color-D {background-color: #CC6666;}
.color-E {background-color: #FFCC99;}
.color-F {background-color: #9999FF;}
.color-G {background-color: #FF9966;}
.color-H {background-color: #CC6699;}
