@font-face {
  font-family: 'swiss911';
  src:  url('../assets/fonts/tt0106m0.ttf') format('truetype');
}

* {
  /*margin: 0;*/
  /*padding: 0;*/
}

body {
  background-color: black;
  font-family: 'swiss911';
  font-size: 30px;
  color: white;
}

.main-screen {
  height: 100%;
  width: 100%;
  margin-left: 0px;
  position: fixed;
  overflow: hidden;
}

.top-left {
  position: absolute;;
  border-radius: 50px;
  width: 120%;
  height: 120%;
}

.bottom-left {
  position: absolute;
  border-radius: 50px;
  width: 120%;
  top: -60px;

  height: -webkit-calc(100% + 50px);
  height: -moz-calc(100% + 50px);
  height: -calc(100% + 50px);
}

.top-left .left-button {
  position: relative;
  border-color: black;
  border-style: solid;
  border-width: 4px 0px 0px 0px;
  /*margin-left: 0px;*/
  height: 80px;
  width: 150px;
  top: 80px;
}

.bottom-left .left-button {
  position: relative;
  border-color: black;
  border-style: solid;
  border-width: 4px 0px 0px 0px;
  margin-left: 0px;
  height: 80px;
  width: 150px;
  /*bottom: 0;*/
}

#spacer {
  height: 25%;
}

.content {
  position: relative;
  color: white;
}

.left-button .content {
  position: absolute;
  text-transform: uppercase;
  bottom: 0;
  right: 5px;
  color: black;
}

.left-button .content a {
  text-decoration: none;
  color: black;
}

.left-button .content a:hover {
  color: white;
}

.top-button {
  position: relative;
}

.button-slim {
  height: 50px !important;
}

.inside-trim{
  position: absolute;
  background-color: black;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  margin-left: 150px;
}

.top-left .inside-trim {
  top: 30px;
}

.bottom-left .inside-trim {
  top: -30px;
}

.top-left .screen {
  position: absolute;
  height: 75%;
  width: 100%;
  top: 25px;
  left: 25px;
  overflow: hidden;

  background-color: gray;
  border-color: red;
  border-width: 2px;
  border-style: solid;
}

.bottom-left .screen {
  position: absolute;
  height: -webkit-calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: -calc(100% - 100px);
  width: 100%;
  top: 80px;
  left: 25px;
  /*bottom: 0px;*/
  overflow: hidden;

  background-color: gray;
  border-color: red;
  border-width: 2px;
  border-style: solid;
}

.h-partition {
  position: relative;
  margin-bottom: 4px;
  overflow: hidden;

  /*border-color: purple;
  border-width: 2px;
  border-style: solid;*/
}

.h-partition.half {
  height: 50%;
}

.h-partition.quarter {
  height: 30%;
}

.h-partition.three-quarter {
  height: 75%;
}

/*
  colors ===============================
*/
.color-A {
  background-color: #FF9900;
}

.color-B {
  background-color: #CC99CC;
}

.color-C {
  background-color: #9999CC;
}

.color-D {
  background-color: #CC6666;
}

.color-E {
  background-color: #FFCC99;
}

.color-F {
  background-color: #9999FF;
}

.color-G {
  background-color: #FF9966;
}

.color-H {
  background-color: #CC6699;
}
