.album-cover-art {
  position: relative;
  left: 0%;
  /*margin-top: 2rem;*/
  z-index: 1;
}

.album-cover-art img{
  position: relative;
  width: 60%;
  z-index: 2;
}

.boring-description {
  text-align: justify;
  margin: 1rem;
}

.boring-description p{
  font-family: "Helvetica";
  font-size: 20px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 650px;
  height: 500px;
}
